#l1,#l2{
    background-color: brown;
    font-size: medium;
    margin: 50px 160px;
    padding: 25px;
    border: 5px solid black;
    
}
#img1{
    margin: 50px 160px;
}
p{
    margin-left: 300px;
}
h3{
    color: brown;
}
body{
    padding: 50px;
}