*{
    box-sizing: border-box;
}
p{
    color: rgb(0, 0, 0);
    border: 2px solid khaki;
    margin-bottom: 10px;
    padding: 10px;
 background-color: aquamarine;
 background-image: linear-gradient(red,green,yellow);
}